*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    font-family: 'Libre Franklin', sans-serif;
}

.clearfix {
    clear: both;
}

h1 {
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-weight: 300;
    font-size: 46px;
    /*//animation-name: fadeInUp;*/
}

.landing {
    width: 100%;
    height: 500px;
    background: url(../../assets/images/polish-bg.jpg) center no-repeat;
    background-size: cover;
}

.greeting {
    margin: auto;
    padding-top: 170px;
    margin-left: 170px;
}

.welcome{
    font-size: 100px;
    font-family: 'Pacifico', cursive;
    line-height: 50px;
    color: white;
}
.sub-welcome {
    font-size: 20px;
    font-family: 'Libre Franklin', sans-serif;
    padding-left: 20px;
    color: $orange;
}

.squares {
    width: 100%;
    background: url(../../assets/images/polish-art.jpg) center repeat;
    color: white;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 70px;
    a {
        color: white;
        text-decoration: none;
        font-size: 18px;
        font-weight: 300;
        &:hover {
            color: $orange;
        }
        .arrow {
            padding-left: 8px;
        }
    }
}


.square-inside {
    width: 1100px;
    margin: auto;
    padding-bottom: 70px;
}

.square1 {
    display: inline-block;
    margin: -130px 30px 15px;
    padding-top: 80px;
    width: 300px;
    height: 300px;
    background: url(../../assets/images/polish-drop-green.png) center no-repeat;
    background-size: cover;
}

.square2 {
    display: inline-block;
    margin: -130px 30px 15px;
    padding-top: 80px;
    width: 300px;
    height: 300px;
    background: url(../../assets/images/polish-drop-blue.png) center no-repeat;
    background-size: cover;
}

.square3 {
    display: inline-block;
    margin: -130px 30px 15px;
    padding-top: 80px;
    width: 300px;
    height: 300px;
    background: url(../../assets/images/polish-drop-black.png) center no-repeat;
    background-size: cover;
}

.squares-pinkish {
    width: 100%;
    height: 130px;
    background-color: $pinkish;
}

.special-box {
    position: relative;
    background-color: black;
    width: 500px;
    padding: 20px 60px 60px;
    margin: 20px auto;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    text-transform: none;
    color: $off-white;
}

.special-cta {
    color: $orange;
}

.testimonials {
    background-color: white;
    padding: 20px 0 80px;
    color: black;
    text-align: center;
    width: 90%;
    margin: auto;
}

.testimonial {
    width: 33.3%;
    float: left;
    padding: 20px 100px;
}

.name {
    font-weight: bold;
}

.contact {
    position: relative;
    width: 100%;
    background: url(../../assets/images/orange-sparkle.jpg) center no-repeat;
    background-size: cover;
    padding: 80px 0;
    color: $off-white;
    text-align: center;
}

.contact-box {
    position: relative;
    background-color: black;
    width: 500px;
    padding: 20px 60px 60px;
    margin: auto;
}

.facebook {
  padding: 2px 13px;
  border-radius: 100%;
  color: white;
  font-size: 24px;
  background-color: $light-orange;
  &:hover {
      background-color: white;
      color: $light-orange;
  }
}

.email-form {
    display: inline-block;
    width: 100%;
    margin: auto;
    float: left;
    padding-bottom: 30px;
}

form {
    width: 100%;
    max-width: 500px;
    margin: 25px auto;
    input, textarea {
        background-color: black;
        width: 100%;
        border: solid 1px white;
        padding: 5px;
        color: white;
        font-weight: 300;
        &:focus {
            border: solid 1px white;
        }
    }

    [type="submit"] {
        background-color: white;
        font-size: 16px;
        color: black;
        letter-spacing: 0.06em;
        width: 100px;
        padding: 5px;
        cursor: pointer;
        border: none;
        float: right;
        &:hover {
            background-color: white;
            color: $light-orange;
        }
    }


    textarea{
        height: 120px;
    }

    label {
        display: block;
        margin-bottom: 20px;
        span {
            display: block;
        }
    }
}

.pad {
  height: 25px;
}

.direction {
    color: $light-orange;
    font-weight: 300;
    text-decoration: none;
    .arrow {
        padding-left: 5px;
    }
    &:hover {
        color: white;
    }
}

.services {
    background: url(../../../assets/images/polish-wallpaper.jpg) ;
    width: 100%;
    padding: 60px 0;
}

.services-box,
.services-box-2,
.services-box-3 {
    background-color: $orange;
    color: white;
    margin: 0 auto 30px;
    width: 600px;
    padding: 20px 60px 60px;
}

.services-box-2 {
    padding-top: 60px;
}

.service-title {
    color: black;
}

.service-price {
    color: black;
    float: right;
}

.service-content {
    font-size: 14px;
    text-indent: 15px;
}

.gallery {
    position: relative;
    width: 100%;
    background: url(../../../assets/images/many-polish-drops1.jpg) center no-repeat;
    background-size: cover;
    padding: 80px 0;
}

.carousel {
    width: 50%;
    margin: auto;
}

@media screen and (max-width: 620px) {
    .greeting {
        margin-left: 25px;
    }

    .welcome{
        font-size: 70px;
    }
    .sub-welcome {
        font-size: 14px;
    }

    .special-box,
    .contact-box{
        width: 280px;
        padding: 20px 30px 60px;
    }

    .services-box,
    .services-box-2,
    .services-box-3{
        width: 95%;
        padding: 10px 20px 60px;
    }

    .services-box-2 {
        padding-top: 40px;
    }
}

@media (min-width: 733px) and (max-width: 1096px) {
    .square-inside {
        width: 750px;
    }

    .square1,
    .square2,
    .square3 {
        width: 200px;
        height: 200px;
        margin: 15px 20px;
        font-size: 24px;
        padding-top: 50px;
    }

    .squares-pinkish {
        display: none;
    }

    .testimonial {
        padding: 20px 40px;
    }

    .carousel {
        width: 70%;
    }
}

@media (min-width: 542px) and (max-width: 732px) {
    .square-inside {
        width: 550px;
    }

    .square1,
    .square2,
    .square3 {
        width: 160px;
        height: 160px;
        margin: 15px 10px;
        font-size: 18px;
        padding-top: 40px;
    }

    .squares-pinkish {
        display: none;
    }

    .testimonial {
        width: 100%;
        padding: 20px 40px;
    }

    .carousel {
        width: 90%;
    }
}

@media screen and (max-width: 541px) {
     .square-inside {
        width: 100%;
    }

    .square1,
    .square2,
    .square3 {
        width: 200px;
        float: none;
        height: 200px;
        margin: 15px 0 15px 0;
        font-size: 24px;
        padding-top: 50px;
    }

    .squares-pinkish {
        display: none;
    }

    .testimonial {
        width: 100%;
        padding: 20px 40px;
    }

    .carousel {
        width: 90%;
    }
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 5s;
    animation-fill-mode: both;
}
