<section class="landing">
        <div class="greeting">
            <span class="welcome fadeInUp">Welcome<br/>
                <aside class="sub-welcome">To Nail Crush. Full Nail Service Salon.</aside>
            </span>
        </div>
    </section>

    <div class="squares-pinkish"></div>

    <div class="squares">
        <div class="square-inside">
            <div class="square1">nails<br/><br/><a href="#/services#nails">more <span class="arrow ion-chevron-right"></span></a></div>
            <div class="square2">waxing<br/><br/><a href="#/services#waxing">more <span class="arrow ion-chevron-right"></span></a></div>
            <div class="square3">Gift <br/>card <br/>available</div>
        </div>
        <div class="special-box">
            <h1>Keratin Service</h1>
            <p>It’s a manicure treatment in a glove.
            Keratin Gloves contain an intensive emulsion formula
            to moisturize hands, soften cuticles, and strengthen nails in a small
            eco-friedly pouch. This sanitary and safe manicure treatment
            contains keratin to strengthen nails and skin, vitamin E for its
            anti-aging properties, urea to hydrate, akorex l to protect skin
            from UV rays, and copaiba oil, a botanical with antifungal and
            anti-inflammatory properties.</p>
            <p class="special-cta">Call for more details</p>
        </div>

         <div class="special-box">
            <h1>Callus Treatment</h1>
            <p>Still using the old methods to remove rough cuticles and callus?<br/><br/>
            Simple and pain free
            way here.
            <br/><br/>
            • Just 2 simple steps.<br/>
            • Only 5 minutes.<br/>
            • You can see the difference ...before and after.<br/>
            • German Cosmetic.</p>
            <p class="special-cta">Call for more details</p>
        </div>
    </div>

   <div class="testimonials">
       <h1>Testimonials</h1>
       <div class="testimonial1 testimonial">I had a great experience here! The decor is relaxing and very appropriate; the technicians professional. Price was absolutely fair for such a great experience!<br/><br/><span class="name">- Carol </span></div>
       <div class="testimonial2 testimonial">Great manicure and pedicure, even for a guy. One of the better places in the area. Leg/shoulder message, clean inside, professional and nice. Will absolutely return.<br/><br/><span class="name">- Seth </span></div>
       <div class="testimonial3 testimonial">Came here for a pedicure with a friend. Very classy inside, and a great pedicure, complete with leg massage. <br/>Definitely recommend it.<br/><br/><span class="name">- Marta</span></div>
       <div class="clearfix"></div>
   </div>

    <div class="contact" id="contact">
        <div class="contact-box">
            <h1>Visit Us</h1>
            <p>4612 N Lincoln Ave, Chicago, IL 60625</p>
            <p>Tel: 773-506-1010</p>
            <br/>
            <p>OPENING HOURS</p>
            <p>Mon - Fri: 10am - 8pm  <br/>  Sat: 10am - 7pm  <br/>  Sun: 10am - 6pm</p>
            <br/>
            <a href="https://www.facebook.com/nailcrushchicago/" target="_blank" class="facebook ion-social-facebook"></a>
            <!-- <div class="email-form">
                <form action="https://formspree.io/nailcrush@nailcrushchicago.com" method="POST">
                    <label>
                        <input type="text" name="name" placeholder="Name">
                    </label>

                    <label>
                        <input type="email" name="_replyto" placeholder="Email">
                    </label>

                    <label>
                        <input type="text" name="subject" placeholder="Subject">
                    </label>

                    <label>
                        <textarea name="message" placeholder="Message"></textarea>
                    </label>
                    <input type="text" name="_gotcha" style="display:none" />
                    <input type="hidden" name="_next" value="http://www.nailcrushchicago.com/#/landing#contact" />
                    <input type="submit" value="Send">
                </form>
            <div class="clearfix"></div>
            </div> -->

            <div class="clearfix pad"></div>

            <a href="https://www.google.com/maps/place/Nail+Crush/@41.9542796,-87.7019807,14z/data=!4m8!1m2!2m1!1snail+crush+chicago!3m4!1s0x880fd21012a839b9:0xec68bce9128d4cb4!8m2!3d41.965209!4d-87.6864963" target="_blank" class="direction">SEE DIRECTIONS
                <span class="arrow ion-chevron-right"></span>
            </a>
        </div>
    </div>
