<section class="services" id="nails">
    <div class="services-box">
        <h1>Nails</h1>
        <p class="service-title">MANICURE</p>
        <p class="service-sub-title">Basic Manicure <span class="service-price">15</span></p>
        <p class="service-sub-title">Polish Change <span class="service-price">10</span></p>
        <p class="service-content">File + Buff + Hot towel +Polish</p>
        <p class="service-sub-title">Nail Crush Manicure <span class="service-price">25</span></p>
        <p class="service-content">Basic Manicure + Keratin + Scrub</p>
        <p class="service-sub-title">Anti-Aging Manicure <span class="service-price">45</span></p>
        <p class="service-sub-title">No-Chip Manicure<span class="service-price">39</span></p>
        <p class="service-sub-title">No-Chip French<span class="service-price">45</span></p>
        <br/>
        <p class="service-title">PEDICURE</p>
        <p class="service-sub-title">Basic Pedicure <span class="service-price">29</span></p>
        <p class="service-sub-title">Express Pedicure <span class="service-price">23</span></p>
        <p class="service-content">Skip on scrub and massage</p>
        <p class="service-sub-title">Nail Crush Pedicure <span class="service-price">49</span></p>
        <p class="service-content">Basic Pedicure + Keratin + Callus treatment + Mask</p>
        <p class="service-sub-title">Polish Change <span class="service-price">15</span></p>
        <p class="service-content">File + Buff + Hot towel +Polish</p>
        <p class="service-sub-title">No-Chip Pedicure<span class="service-price">50</span></p>
        <p class="service-sub-title">No-Chip French<span class="service-price">56</span></p>
        <br/>
        <p class="service-title">PACKAGE SERVICES</p>
        <p class="service-sub-title">Manicure + Pedicure <span class="service-price">40</span></p>
        <p class="service-sub-title">No-Chip Mani + No-Chip Pedi <span class="service-price">85</span></p>
        <p class="service-sub-title">Polish Change + Basic Pedi <span class="service-price">38</span></p>
        <p class="service-sub-title">Basic Manicure + Polish Change <span class="service-price">30</span></p>
        <br/>
        <p class="service-title">KIDS UNDER 10 YEARS OLD</p>
        <p class="service-sub-title">Princess Manicure<span class="service-price">10</span></p>
        <p class="service-sub-title">Princess Pedicure<span class="service-price">17</span></p>
        <p class="service-sub-title">Princess Polish Change Hand<span class="service-price">5</span></p>
        <p class="service-sub-title">Princess Polish Change Toe <span class="service-price">10</span></p>
        <p class="service-sub-title">Princess Mani + Pedi<span class="service-price">25</span></p>
    </div>

    <div class="services-box-2">
        <p class="service-title">ADDITIONAL SERVICES</p>
        <p class="service-sub-title">French <span class="service-price">5</span></p>
        <p class="service-sub-title">Scrubs on Hands <span class="service-price">2</span></p>
        <p class="service-sub-title">Scrubs on Foot <span class="service-price">3</span></p>
        <p class="service-sub-title">Keratin Treatment on Hands <span class="service-price">5</span></p>
        <p class="service-sub-title">Keratin Treatment on Foot <span class="service-price">7</span></p>
        <p class="service-sub-title">Callus Treatment <span class="service-price">10</span></p>
        <br/>
        <p class="service-title">CHAIR MASSAGE</p>
        <p class="service-sub-title">10 min <span class="service-price">15</span></p>
        <p class="service-sub-title">15 min<span class="service-price">20</span></p>
        <p class="service-sub-title">20 min <span class="service-price">25</span></p>
        <br/>
        <p class="service-title">LEG MASSAGE</p>
        <p class="service-sub-title">10 min <span class="service-price">10</span></p>
        <p class="service-sub-title">15 min<span class="service-price">15</span></p>
        <p class="service-sub-title">20 min <span class="service-price">20</span></p>
    </div>

    <div class="services-box-3" id="waxing">
        <h1>Waxing</h1>
        <p class="service-content">*All waxing services 10% off with nail services</p>
        <p class="service-sub-title">Eye Brow<span class="service-price">13+</span></p>
        <p class="service-sub-title">Lip<span class="service-price">10+</span></p>
        <p class="service-sub-title">Chin<span class="service-price">15+</span></p>
        <p class="service-sub-title">Eye Brow + Lip + Chin<span class="service-price">35+</span></p>
        <p class="service-sub-title">Full Arms<span class="service-price">40 - 45</span></p>
        <p class="service-sub-title">Half Arms<span class="service-price">25 - 30</span></p>
        <p class="service-sub-title">Under Arms<span class="service-price">20</span></p>
        <p class="service-sub-title">Full Legs<span class="service-price">55+</span></p>
        <p class="service-sub-title">Half Legs<span class="service-price">30+</span></p>
        <p class="service-sub-title">Bikini<span class="service-price">35+</span></p>
        <p class="service-sub-title">Brazilian<span class="service-price">50+</span></p>
        <p class="service-sub-title">Chest<span class="service-price">35+</span></p>
        <p class="service-sub-title">Full Back<span class="service-price">45+</span></p>
        <p class="service-sub-title">Stomach<span class="service-price">15+</span></p>
    </div>
</section>
